#q1 .barseg_0 rect,
#q2 .barseg_0 rect,
#q3 .barseg_0 rect,
#q4 .barseg_0 rect,
#q5 .barseg_0 rect,
#q6 .barseg_0 rect,
{
    fill: black;
    stroke: black;
}

#q1 .barseg_2 rect,
#q2 .barseg_2 rect,
#q3 .barseg_2 rect,
#q4 .barseg_2 rect,
#q5 .barseg_2 rect,
#q6 .barseg_2 rect,
{
    fill: #F4991F;
    stroke: #F4991F;
}

.barseg_0 rect {
    fill: black;
    stroke: black;
}

.barseg_2 rect {
    fill: #F4991F;
    stroke: #F4991F;
}

#q2 .men .bar_0 rect, #q9 .men .bar_0 rect, #q10 .men .bar_0 rect {
    fill: white;
    stroke: black;
    stroke-width: 0.6px;
}

#q7 .men text, #q9 .men text, #q10 .men text {
    text-anchor: end;
}

#q1 .bar_1 text, #q2 .bar_1 text, #q9 .bar_1 text, #q10 .bar_1 text {
    display: none;
}
