.barseg text {
  text-anchor: end;
}

#graphs text {
  fill: black;
  font: 12px 'Helvetica Neue';
}

#q1 .bar_1 text, #q7 .bar_1 text, #q8 .bar_1 text {
    display: none;
}

#q1 .men .bar_0 rect, #q7 .men .bar_0 rect, #q8 .men .bar_0 rect {
    fill: white;
    stroke: black;
    stroke-width: 0.6px;
}

#q1 .men text, #q7 .men text, #q8 .men text {
    text-anchor: end;
}

.barseg rect {
    stroke-width:0.3px;
}

.barseg_2 rect {
    fill: black;
    stroke: black;
}

.barseg_1 rect {
    fill: white;
    stroke: black;
}

.barseg_0 rect {
    fill: #F4991F;
    stroke: #F4991F;
}

.bar_0 rect {
    fill: black;
}

.bar_1 rect {
    fill: #F4991F;
}

#q9 .barseg_0 rect, #q10 .barseg_0 rect {
    fill: black;
    stroke: black;
}

#q9 .barseg_2 rect, #q10 .barseg_2 rect {
    fill: #F4991F;
    stroke: #F4991F;
}
